.app-wrapper {
    display: grid;
    max-width: 1400px;
    margin: 0 auto;
    grid-template-areas:
  'header header'
  'navigation content';
    grid-template-rows: 50px 10fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 5px;
}

/*.main-navigation {*/
/*    grid-area: navigation;*/
/*    border: 1px solid green;*/
/*}*/

.app-wrapper-content {
    grid-area: content;
    background-color: aliceblue;
}